.row.testimoniales
    each testimonial in testimoniales
        .col-md-6.col-lg-4.mb-4
            .card
                .card-body
                    blackquote.blackquote
                    p.mb-0
                        | #{testimonial.mensaje}
                    footer.blackquote-footer
                        | #{testimonial.nombre}